# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Runtime
pids/
*.pid
*.pid.lock

# Coverage
coverage/
.nyc_output/

# Build
build/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
assets/fonts/*
assets/emojis/*
!.gitkeep
